@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rubik Medium Medium';
    src: url('/fonts/static/Rubik-Medium.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Rubik Medium Regular';
    src: url('/fonts/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Rubik Medium Italic';
    src: url('/fonts/static/Rubik-Italic.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal; 
}

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.7s;
}

body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

